fastapi==0.116.1
uvicorn[standard]==0.35.0
sqlalchemy==2.0.43
psycopg[binary]==3.2.9
aiogram==3.22.0
aiofiles==24.1.0
mutagen==1.47.0
python-dotenv==1.1.1
email-validator==2.2.0
requests==2.32.4
httpx==0.28.1
bcrypt==4.3.0
